<div class="background">
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			    <div class="col-md-6">
                    <div class="card shadow">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="card-img" src="{{artist.img}}" alt="{{artist.name}} image">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-center">
                                    <h1 class="card-title" style="font-weight: 800; margin-bottom: 50px; text-shadow: 1px 1px 10px rgb(24, 93, 35);" d-none d-md-block>{{artist.name}}</h1>
                                    <p class="card-text" style="font-size: 25px; margin: 10px 0px 0px 0px;">Popularity:</p>
                                    <h2 class="card-text" style="font-weight: 800; font-size: 40px; margin-bottom: 20px;" >{{artist.popularity}}</h2>
                                    <div class="container mx-auto text-center">
                                        <p id="open-in">Open in</p>
                                        <div class="text-center mx-auto" id="spotify-button" (click)="openSpotify()">
                                            <img id="logo" src="../../../assets/logo2.png" alt="spotify logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="col-md-5 top-tracks">
                <h5 style="margin-left: 150px;">Top Tracks</h5>
                <ngb-carousel [keyboard]="true" class="carousel-small">
                    <ng-template ngbSlide *ngFor="let song of artist.songs; let i = index">
                    <div class="slide-container ">
                        <img [src]="song.img" alt="Song image" class="shadow clickable" style="border-radius: 100%;" [routerLink]="['/song/' + song.id]">
                        <div class="carousel-caption">
                            <h3 class="song-name">{{i + 1}}. {{song.name}}</h3>
                        </div>
                    </div>
                    </ng-template>
                </ngb-carousel>
            </div>
		<div class="row">
            <div class="col-md-1"></div>

			<div class="col-md-8">
                <table class="table table-borderless table-striped">
                <tbody>
                    <tr *ngFor="let album of artist.albums; let i = index"> 
                        <td class="align-baseline clickable"><img src="{{album.img}}" alt="{{album.name}} image" style="width: 60px; height: 60px;"></td>
                        <td class="align-baseline clickable" style="text-decoration: underline;" [routerLink]="['/album/' + album.id]">{{album.name}}</td>
                        <td class="align-baseline">{{formatDate(album.releaseDate)}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
		</div>
	</div>
</div>