#login-form {
   max-width : 400px;
   min-width: 300px;
   padding: 15px;
   background-color : #282828;
   border-radius: .5em;
   margin-top: 20px;
   color: #FFFFF0;
   margin-top: 10em;

}

.form-group {
    margin-top: 15px;
    
}

.btn {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    background-color: #1db954;
    border-color: #1db954;
    color: #282828;
}

.btn:hover {
    background-color: #15823b;
    border-color: #15823b;
}
