<div class="container text-center" style="font-family: 'Nunito Sans', sans-serif; color: #FFFFF0">
    <h1 style="font-weight: 700; margin-top: 5em;">Welcome to SpotiFaves</h1>
    <p style="font-size: 18px; margin-top: 20px;">This app allows you to view your top songs and artists, create and manage playlists through spotify, and view song and artist information. 
        Spotify uses OAuth 2.0 authentication to allow secure access to Spotify data, such as playlists,
         listening data, and other account information. This authentication process ensures that only the user
          has access to their data and helps to protect their privacy.</p>

    <button (click)="spotifyAuth()" class="btn shadow mx-auto">Authenticate</button>
</div>
